.App {
  /*text-align: center;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f3f3f3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: rgb(21, 3, 3);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.File-name {
/*  border: 1px solid;
  border-radius: 1px;*/
}

#Bread-crumb {
  list-style-type: none;
}

ul#Bread-crumb > li {
  display: inline-block;
}

table {
  width: 20%;
}

th {
  font-weight:normal;
}

td, td > span {
  text-align: center; 
  font-size:medium;
}
